#NavBerita {
    position: absolute;
    border-bottom: 1px solid #e9ecef;
    background-color: white;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  #NavBerita .navbar-brand {
    font-weight: 800;
    color: #343a40;
  }
  
  #NavBerita .navbar-toggler {
    font-size: 12px;
    font-weight: 800;
    padding: 13px;
    text-transform: uppercase;
    color: #343a40;
  }
  
  #NavBerita .navbar-nav > li.nav-item > a {
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  @media only screen and (min-width: 992px) {
    #NavBerita {
      border-bottom: 1px solid transparent;
      background: transparent;
    }
    #NavBerita .navbar-brand {
      padding: 10px 20px;
      color: black;
    }
    #NavBerita .navbar-brand:focus, #NavBerita .navbar-brand:hover {
      color: rgba(0, 0, 0, 0.8);
    }
    #NavBerita .navbar-nav > li.nav-item > a {
      padding: 10px 20px;
      color: black;
    }
    #NavBerita .navbar-nav > li.nav-item > a:focus, #NavBerita .navbar-nav > li.nav-item > a:hover {
      color: rgba(0, 0, 0, 0.8);
    }
  }
  
  @media only screen and (min-width: 992px) {
    #NavBerita {
      transition: background-color 0.2s;
      /* Force Hardware Acceleration in WebKit */
      transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
    }
    #NavBerita.is-fixed {
      /* when the user scrolls down, we hide the header right above the viewport */
      position: fixed;
      top: -67px;
      transition: transform 0.2s;
      border-bottom: 1px solid white;
      background-color: rgba(255, 255, 255, 0.9);
    }
    #NavBerita.is-fixed .navbar-brand {
      color: #212529;
    }
    #NavBerita.is-fixed .navbar-brand:focus, #NavBerita.is-fixed .navbar-brand:hover {
      color: #0085A1;
    }
    #NavBerita.is-fixed .navbar-nav > li.nav-item > a {
      color: #212529;
    }
    #NavBerita.is-fixed .navbar-nav > li.nav-item > a:focus, #NavBerita.is-fixed .navbar-nav > li.nav-item > a:hover {
      color: #0085A1;
    }
    #NavBerita.is-visible {
      /* if the user changes the scrolling direction, we show the header */
      transform: translate3d(0, 100%, 0);
    }
  }

  .section-heading {
    font-size: 36px;
    font-weight: 700;
    margin-top: 80px;
  }

  .card-body{
      margin-top: 60px;
  }
